*/build/*
*.o
*.so
*.d
*.a
*.exe
*.out
*.app
*.class
*.jar
*.war
*.ear
*.dll
*.dylib
*.pdb
*.idb
*.ilk
*.log
*.tmp
*.temp
*.cache
*.swp
*.swo
*.DS_Store
*.vscode/*
*.idea/*
*.history/*
*.coverage
*.pyc
*.pyo
*.pyd
__pycache__/*
*venv/*
*.mypy_cache/*
*.pytest_cache/*
*.ruff_cache/*
*.tox/*
*.dist-info/*
*.egg-info/*    
*.egg
*.whl
.python-version
.git/*
*.ipynb_checkpoints/*
*.coverage.*
dev/*
uv.lock